{% extends "base.html" %} {% block content %}
<h1>Edit {{cart.name}}</h1>
<p>{{cart.description}}</p>

<div id="items" class="list-group">
  {% for item in cart.items|reverse %}

  <!-- Cart Item -->
  <div
    id="{{item.id}}"
    class="list-group-item-action list-group-item d-flex flex-row p-2"
  >
    <!-- Edit Form -->
    <div class="edit-form d-none flex-grow-1">
      <form
        action="url_for('/edit_cart/{{item.id}}"
        class="d-flex flex-row"
        method="POST"
        autocomplete="off"
      >
        <input
          name="name"
          type="text"
          class="m-1 form-control"
          placeholder="Name"
          value="{{item.name}}"
        />
        <input
          name="url"
          type="text"
          class="m-1 form-control"
          placeholder="Link"
          value="{{item.url}}"
        />
        <input
          name="price"
          type="text"
          class="m-1 form-control"
          placeholder="Price"
          value="{{item.price}}"
        />

        <button
          type="submit"
          onclick="saveChanges({{item.id}})"
          class="m-1 btn btn-primary"
        >
          Save
        </button>
        <button
          type="button"
          class="m-1 btn btn-primary"
          onclick="closeEditForm({{item.id}})"
        >
          Close
        </button>
      </form>
    </div>

    <div class="item-info d-flex flex-row flex-fill">
      <div class="d-flex flex-row">
        <a class="m-1" href="{{item.url}}"> <h3>{{item.name}}</h3> </a>
        <h3 class="m-1">&dollar;{{item.price}}</h3>
      </div>
      <div class="ms-auto d-flex flex-row">
        <button
          onclick="editItem({{item.id}})"
          type="button"
          class="m-1 btn btn-primary"
        >
          Edit
        </button>
      </div>
    </div>

    <!-- <div class="ms-auto d-flex flex-row">
      <button
        onclick="editItem({{item.id}})"
        type="button"
        class="m-1 btn btn-primary"
      >
        Edit
      </button>
      <button
        onclick="deleteItem({{item.cart_id}}, {{item.id}})"
        type="button"
        class="m-1 ml-auto btn btn-danger close-button"
      >
        &times
      </button>
    </div> -->
  </div>

  {% endfor %}

  <!-- Create Item -->
  <li class="p-2 list-group-item">
    <form method="POST" autocomplete="off">
      <div class="d-flex flex-row">
        <input
          name="name"
          type="text"
          class="m-1 form-control"
          placeholder="Name"
        />
        <input
          name="url"
          type="text"
          class="m-1 form-control"
          placeholder="Link"
        />
        <input
          name="price"
          type="text"
          class="m-1 form-control"
          placeholder="Price"
        />
        <button type="submit" class="m-1 btn btn-primary">Add</button>
      </div>
    </form>
  </li>
</div>

{% endblock %}
